[submodule "frozen/Adafruit_CircuitPython_Bitmap_Font"]
	path = frozen/Adafruit_CircuitPython_Bitmap_Font
	url = https://github.com/adafruit/Adafruit_CircuitPython_Bitmap_Font
[submodule "frozen/Adafruit_CircuitPython_BitmapSaver"]
	path = frozen/Adafruit_CircuitPython_BitmapSaver
	url = https://github.com/adafruit/Adafruit_CircuitPython_BitmapSaver
[submodule "frozen/Adafruit_CircuitPython_displayio_SH1106"]
	path = frozen/Adafruit_CircuitPython_displayio_SH1106
	url = https://github.com/adafruit/Adafruit_CircuitPython_displayio_SH1106
[submodule "frozen/Adafruit_CircuitPython_Logging"]
	path = frozen/Adafruit_CircuitPython_Logging
	url = https://github.com/adafruit/Adafruit_CircuitPython_Logging
[submodule "frozen/CircuitPython_async_button"]
	path = frozen/CircuitPython_async_button
	url = https://github.com/furbrain/CircuitPython_async_button
[submodule "frozen/CircuitPython_async_buzzer"]
	path = frozen/CircuitPython_async_buzzer
	url = https://github.com/furbrain/CircuitPython_async_buzzer
[submodule "frozen/CircuitPython_CaveBLE"]
	path = frozen/CircuitPython_CaveBLE
	url = https://github.com/furbrain/CircuitPython_CaveBLE
[submodule "frozen/CircuitPython_laser_egismos"]
	path = frozen/CircuitPython_laser_egismos
	url = https://github.com/furbrain/CircuitPython_laser_egismos
[submodule "frozen/CircuitPython_mag_cal"]
	path = frozen/CircuitPython_mag_cal
	url = https://github.com/furbrain/CircuitPython_mag_cal
[submodule "frozen/CircuitPython_RM3100"]
	path = frozen/CircuitPython_RM3100
	url = https://github.com/furbrain/CircuitPython_RM3100
[submodule "frozen/CircuitPython_seeed_xiao_nRF52840"]
	path = frozen/CircuitPython_seeed_xiao_nRF52840
	url = https://github.com/furbrain/CircuitPython_seeed_xiao_nRF52840
[submodule "frozen/fruity_menu"]
	path = frozen/fruity_menu
	url = https://github.com/furbrain/fruity_menu
